body{
	background-color: white;
}

h1{
	color: #9b59b6;
	font-family: 'Roboto', sans-serif;
}
p{
	font-family: 'Roboto', sans-serif;
}

.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
	grid-auto-rows: auto;
	grid-template-rows: none;
	padding-left: 50px;
}

#name{
	grid-column: 1/4;
	grid-row: 1;
}

#face{
	grid-column: 1;
	grid-row:2;
}

#aboutme{
	grid-column: 2/3: 
	grid-row: 2;
}


#Bio{
	grid-column:1;
	grid-row: 4;
}

#hobbies{
	grid-column: 1/3;
	grid-row: 5;
}

#computer{
	grid-column: 1;
	grid-row: 3;
}

#humanoidcomputer{
	grid-column: 2 ;
	grid-row: 3 ;
	padding-top: 125px
}

#selfportrait{
	grid-column: 3;
	grid-row: 3;
	padding-top: 125px
}